<!--<div class="row">
	<div class="col-sm-6">
		<h2>My Orders and Hold</h2>
		<div class ="holds">
			<table>-->
				<!--Placeholder values to be filled with JS-->
				<!--<tr class="borders">
					<td>photo</td>
					<td>
						<table>
						<tr>
							<td>Item name</td>
						</tr>
						<tr>
							<td>on order</td>
						</tr>
					</table>
					</td>
					<td>pick up date</td>
				</tr>
			</table>
		</div>
	</div>-->
		<!-- Only show this if the user is logged in-->
	
<% if current_user %>
	<div class="container">
		<% if current_user.confirmed? %>
			<div class="row">
				<div class="col-sm-3">
					<table>
						<tr><button class = "btn1" onclick="goto('<%= edit_user_path(current_user) %>')">Edit Profile</button></tr>
						<% if @user.admin? || @user.vpfin?%>
							<tr><button class = "btn1" onclick="goto('<%= admin_path%>')">Admin</button></tr>
						<% elsif @user.ordering_officer? %>
							<tr><button class = "btn1" onclick="goto('<%= pos_path%>')">POS</button></tr>
							<tr><button class = "btn1" onclick="goto('<%= orders_path%>')">Orders</button></tr>
							<tr><button class = "btn1" onclick="goto('<%= parts_path%>')">Parts</button></tr>
							<tr><button class = "btn1" onclick="goto('<%= inventory_report_path(format: :pdf) %>')">Inventory</button></tr>
						<% elsif @user.staff? %>
							<tr><button class = "btn1" onclick="goto('<%= pos_path%>')">POS</button></tr>
						<% end %>
					</table>
				</div>
				<div class="col-sm-9">
					<div class="inventory_partial">
						<%=render "inventories/inventory"%>
					</div>
				</div>
			</div>
		<% else %>
			<h2>Profile</h2>
			<!--add in error handling eg. email and phone number-->
			<%=render "users/editProfile"%>
		<% end %>
	</div>
<% else %>
	<center><%=image_tag("logo.png", size: "500x500")%>
	<h1>Welcome</h1></center>
<%end %>