<div class="screen">
	<div class ="row">
		<div class="col-sm-4">
			<table class="finish centered">
					<tr>
						<td><button class = "btn1">Day Sales</button></td>
						<td><button class = "btn1">Week Sales</button></td>
					</tr>	
					<tr>
						<td><button class = "btn1">Month Sales</button></td>
						<td><button class = "btn1">Quarter Sales</button></td>
					</tr>	
					<tr>
						<td><button class = "btn1">Annual Sales</button></td>
						<td><button class = "btn1">Audit</button></td>
					</tr>	
					<tr>
						<td><button class = "btn1">PO</button></td>
						<td><button class = "btn1">Inventory</button></td>
					</tr>	
				</table>
		</div>
		<div class="col-sm-2">
			<table class="finish centered">
				<tr>
					<td><button class = "btn1" onclick="goto('<%= parts_path%>')">Manage Inventory</button></td>
				</tr>	
				<tr>
					<td><button class = "btn1" onclick="goto('<%= orders_path%>')">Manage Orders</button></td>
				</tr>
				<tr>
					<td><button class = "btn1" onclick="goto('<%= users_path%>')">Manage Users</button></td>
				</tr>
				<tr>
					<td><button class = "btn1" onclick="goto('<%= pos_path%>')">POS</button></td>
				</tr>
			</table>
		</div>
		<div class="col-sm-5">
			<div class="inventory_partial">
				<%=render "inventories/inventory"%>
			</div>
		</div>	
	</div>
</div>