<div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-4 container"> 
		<div class ="catalog_partial">
			<div class="table-responsive"> 
				<table class="table">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>WatIAM ID</th>
						<th>Role</th>
						<th>Email</th>
					</tr>
					<% @users.each do |user| %>
						<tr class="user_row clickable-row onhover" id="user_<%= user.username %>" data="<%= user.username %>" onclick="inputusername('<%= user.username %>');">
							<td><%= user.firstname %></td>
							<td><%= user.lastname %></td>
							<td><%= user.username %></td>
							<td><%= user.role.name %></td>
							<td><%= user.email %></td>
						</tr>		
					<% end %>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		

		<div class="panel">
			<div id="add-user-panel" class="container">
				<h3>Add Users</h3>
				<%= form_for @user, :url => add_user_path do |f| %>
					<% if flash[:user_notice] %>
						<div class="notice"><%= flash[:user_notice] %></div>
					<% end %>

					<%= f.label :username, :class => "control-label" %>
					<div class="controls">
						<%= f.text_field :username %>
					</div>

					<%= f.label :role, :class => "control-label" %>
					<div class="controls">
						<%= f.collection_select(:role_id, Role.all, :id, :name) %>
					</div>

					<div class="control-group" style="padding: 10px;">
						<div class="controls">
							<%= f.submit "Add User", :class => "btn btn-large btn-primary" %>
						</div>
					</div>
				<% end %>
			</div>
		
			<div id="remove-user-panel" class="container">
			<h3>Remove Users</h3>
				<%= form_for @user, :url => remove_user_path, html: {:onsubmit => "return confirm('Do you really want to delete this user?');"}  do |f| %>
					<%= f.label :username, :class => "control-label" %>
					<div class="controls">
						<%= f.text_field :username, :class => "username-input", :enabled => false %>
					</div>

					<div class="control-group" style="padding: 10px;">
						<div class="controls">
							<%= f.submit "Remove User", :class => "btn btn-large btn-primary" %>
						</div>
					</div>
				<% end %>
			</div>

			<div id="change-roles-panel" class="container">
			<h3>Change Roles</h3>
				<%= form_for @user, :url => update_role_path, :onsubmit => "return confirm('Are you sure you want to change the user roles?');" do |f| %>
					<%= f.label :username, :class => "control-label" %>
					<div class="controls">
						<%= f.text_field :username, :class => "username-input", :enabled => false %>
					</div>

					<%= f.label :role, :class => "control-label" %>
					<div class="controls">
						<%= f.collection_select(:role_id, Role.all, :id, :name) %>
					</div>

					<div class="control-group" style="padding: 10px;">
						<div class="controls">
							<%= f.submit "Update Roles", :class => "btn btn-large btn-primary" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<table class="finish centre">
			<tr>
				<td><button class = "btn1" id="user" onclick="showadd()">Add</button></td>
				<td><button class = "btn1" id="user" onclick="showremove()">Remove</button></td>
				<td><button class = "btn1" id="user" onclick="showroles()">Update</button></td>
			</tr>
		</table>
	</div>
</div>