<div class "catalog">
	<table>
		<!-- The header to the table -->
		<tr class = "borders fit">
			<th><%= sortable "part_number", "Part \#" %></th>
			<th><%= sortable "description", "Desc." %></th>
			<th><%= sortable "price", "Price" %></th>
			<th><%= sortable "available", "Inventory" %></th>
			<th class="span-1"></th>
		</tr>
		<!-- Itterate through the parts in the databae -->
		<% @parts.each do |part| %>
			<tr class = "borders fit">
				<td id="c4"><%= link_to part.part_number, part %></td>
				<td id="c2"><%= part.description %></td>
				<td id="c3"><%= part.price.round(2) %></td>
				<td id="c3"><%= part.on_hand %></td>
				<td id="c4"><button type="button" class="btn-default btn-xs" onclick="add_to_cart(<%= @cart.id %>,<%= part.id %>)">+</button></td>
			</tr>
		<% end %>
	</table>
</div>