<!--This is the HTML for the POS system-->
<div class "row">
	<!--this is the left 1/2 of the screen-->
	<div class="col-sm-6">
		<div class="cart_partial">
			<%= hidden_field_tag :cart_id, @cart.id %>
			<%=render "carts/cart"%>
		</div>
		<!--display the left side of the options below cart-->
		<div class="complete.transaction">
			<table>
				<tr>
					<!--change back to text later-->
					<td><button class = "btn" id="total" onclick = "get_total(<%= @cart.id %>)">Total</button></td>
					<td id="show_total">0.00</td>
				</tr>
				<tr>
					<td><button class = "btn" onclick ="calc_change()">Tendered</button></td>
					<td><input type="text" id="tendered" value="0.00"></td></td>
				</tr>
				<tr>
					<td>Change due</td>
					<td id="change">0.00</td>
				</tr>
				<tr>
					<td>Student</td>
					<td><input type="text" id="watiam" value=""></td></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><button class = "btn">Print Reciept</button></td>
					<td><button class = "btn" onclick="checkout(<%= @cart.id %>)">Checkout</button></td>
				</tr>
			</table>
		</div>
	</div>
	<!--this is the right 1/2 of the screen-->
	<div class="col-sm-6">
		<div class ="catalog_partial">
			<%=render "shared/catalog"%>
		</div>
		<div class ="POS_admin_buttons">
			<table>
				<tr>
					<td><button class = "btn1">Place Order</button></td>
					<td><button class = "btn1">Return</button></td>
					<td><button class = "btn1">Place holder</button></td>
					<td><button class = "btn1">Place holder</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>


<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title" id="myModalLabel">Update Count</h4>
            </div>
            <div class="modal-body">
                <form><>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>
    </div>
  </div>
</div>