<form>
	<b>Trasaction ID:</b>
	<input type="text" name="transaction_id" id="transaction_id" value="<%= @transaction.id unless @transaction == nil %>">
	<a class="btn2" onclick="get_trans_cart()">Submit</a>
</form>
<br>
<div class "row">
	<!--this is the left 1/2 of the screen-->
	<div class="col-sm-6">
		<div id="transaction" class ="cart_partial  cart">
			<% if @transaction %>
				<%=render "carts/return_cart", f: @parts_in_cart, add: false %>
			<% end %>
		</div>

	</div>	
	<!--this is the right 1/2 of the screen-->
	<div class="col-sm-6">
		<div id="returns" class ="cart_partial cart">
			<input type="hidden" name="returning_id" id="returning_id" value="<%= @cart_retruning.id unless @cart_retruning == nil %>">
			<%=render "carts/return_cart", f: @parts_returning_cart, add: true %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-7">
		<div>
			<table>
				<tr>
					<td><h3>Amount due to customer:</h3></td>
					<td class="label1" id="show_total"><div class="sizing">0.00</div></td>
				</tr>
			</table>
		</div>		<div>
			<button class = "btn2" onclick="returns('<%= @cart_retruning.id %>')">Complete Return</button>
			<button class = "btn2" onclick="goto('<%= pos_path %>')">Return to POS</button>
		</div>
	</div>
</div>