<fieldset class="fields form-horizontal ">
	<div class="form-group">
		<%= f.label :part_id, "Part \#", :class => "col-sm-4 control-label" %>
		<div class="col-sm-4"> 
			<%= f.collection_select(:part_id, Part.all, :id, :part_number , {}, {class: "part_select form-control"}) %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :quant_ordered, "Ordered", :class => "col-sm-4 control-label" %>
		<div class="col-sm-4"> 
			<%= f.text_field :quant_ordered, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :cost, :class => "col-sm-4 control-label" %>
		<div class="col-sm-4"> 	
			<%= f.text_field :cost, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-4">
  			<%= link_to_remove_fields "Remove", f %> 
  		</div>
  	</div>
</fieldset>