<div>
	<%= f.label :part_id, "Part" %>
	<%= f.collection_select(:part_id, Part.all, :id, :part_number) %><br>
	<%= f.label :amount %>
	<%= f.text_field :amount %>
	<%= f.label :cost %><br>
	<%= f.text_field :cost %>
	<%= f.check_box :_destroy %>
  	<%= f.label :_destroy, "Remove Question" %>
  	<%= link_to_remove_fields "remove", f %>
</div>