<div class="container">
	
	<p id="notice"><%= notice %></p>

	<h1>Orders</h1>

	<% if @orders.length > 0 %>
		<div class ="catalog_partial">
			<table class="table table-hover table-responsive table-striped">
				<thead>
					<tr>
						<th>Order #</th>
						<th>Date Placed</th>
						<th>Comments</th>
						<th colspan="4"></th>
					</tr>
				</thead>

				<tbody>
					<% @orders.each do |order| %>
						<tr>
							<td><%= order.order_no %></td>
							<td><%= order.created_at %></td>
							<td><%= order.comment %></td>
							<td><%= link_to 'Print', print_order_path(order.id, format: :pdf) %></td>
							<td><%= link_to 'Show', order, :class => "" %></td>
							<td><%= link_to 'Edit', edit_order_path(order), :class => "" %></td>
							<td><%= link_to 'Destroy', order, :class => "", method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% else %>
		<h2>No Orders</h2>
	<% end %>

	<br>

	<%= link_to 'New Order', new_order_path %>
</div>
