<p id="notice"><%= notice %></p>

<h1>Recieving Orders</h1>

<table>
	<% @orders.each do |order| %>
		<tr>
			<td><b>Order #.</b></td>
			<td><%= order.order_no %></td>
		</tr>
		<tr>
			<td><b>PO #.</b></td>
			<td><%= order.po_number %></td>
		</tr>
		<tr>
			<td><b>Comments</b></td>
			<td><%= order.comment %></td>
		</tr>
		<tr>
			<table>
				<thead>
					<tr>
						<th>Part #.</th>
						<th>Cost</th>
						<th>Ordered</th>
						<th>Recieved</th>
						<th>Back Ordered</th>
					</tr>
				</thead>
				<tbody>
					<% order.parts_in_order.each do |part| %>
						<tr class="part_in_order">
							<input type="hidden" class="part_id" value="<%= part.part_id %>">
							<input type="hidden" class="order_id" value="<%= part.order_id %>">
							<td><%= Part.find(part.part_id).part_number %></td>
							<td><%= part.cost %></td>
							<td class="ordered"><%= part.quant_ordered %></td>
							<td class="received"><%= part.quant_received %></td>
							<td class="backordered"><%= part.quant_backordered %></td>
							<td id='c11'><button href="#basicModal" data-toggle="modal" type='button' class = 'btn-default btn-s' id='small' onclick='set_modal(this)'>Update</button></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</tr>
	<% end %>
</table>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
	            <h4 class="modal-title" id="myModalLabel">Update Count</h4>
	            </div>
	            <div class="modal-body">
	                <form>
	                	Quantity Received:<br>
	                	<input type="text" name="quant_received" id = "quant_received"><br>
	                	Quantity on Backorder:<br>
										<input type="text" name="quant_backordered" id = "quant_backordered">
										<br>
										<input type="hidden" name="quant_ordered" id="quant_ordered">
										<input type="hidden" name="part_id" id="part_id">
										<input type="hidden" name="order_id" id="order_id">
	                </form>

	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="update_values()">Done</button>
	        </div>
	    </div>
	  </div>
	</div>